@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reddit+Mono:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&family=Viga&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: white;
}

.one{
  display: flex;
  background-color: #254336;
  color: white;
  justify-content: space-between;
  align-items: center;
}

h2{
  padding: 0 40px;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: default;
}
.input {
  background-color: #254336;
  width: 280px;
  height: 40px;
  padding: 10px;
  /* text-align: center; */
  border: 2px solid whitesmoke;
  border-radius: 15px;
  box-shadow: 3px 3px 2px #6B8A7A;
}

.input:focus {
  color: whitesmoke;
  background-color: #254336;
  outline-color: #6B8A7A;
  box-shadow: -3px -3px 15px #6B8A7A;
  transition: .1s;
  transition-property: box-shadow;
}

.five{
  margin-right: 50px;
}

nav ul {
  display: flex;
  list-style-type:none;
}

li{
  margin: 20px 40px;
}

a{
  text-decoration: none;
  color: white;
  cursor: not-allowed;
}

button{
  padding: 7px 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
  font-weight: 600;
  margin: 10px 18px;
  cursor: pointe;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.signin{
  background-color: #6B8A7A;
  cursor: wait;
  margin-right: 40px;
}

.signin:hover{
  background-color: black;
}

/*.signup{
  background-color: skyblue;
  cursor: wait;
}*/

.two{
  
  color: black;
  margin-top: 150px;
  font-family: "Viga", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  margin-left: 30px;
  cursor: default;
}

.three{

  color: black;
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin-left: 30px;
  cursor: default;
}

/*.box{
  background-color: #6B8A7A;
  width: 750px;
  height: 300px;
  margin-left: 600px;
  border-radius: 200px;
  display: flex;
 
}

img{
  margin-bottom: 500px;
  filter: drop-shadow(1px 1px 20px white);
  height: 700px;
  width: 850px;
}*/



  









